---
import IconCheckmark from '../components/IconCheckmark.astro';
import IconError from '../components/IconError.astro';

let { label, type, name, error  } = Astro.props;
---
<style>
.input {
    caret-color: white;
}

.checkmark__check {
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    animation: stroke .6s cubic-bezier(0.650, 0.000, 0.450, 1.000) forwards;
    stroke-width: 4;
    stroke: currentColor;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}
</style>
<div class="flex flex-col mt-8">
    <span id="type-effect--${name}" class="type-effect text-neon-green hidden text-sm md:text-base block mb-2 sm:mb-0">{label}</span><!--hidden-->
    <label class="hidden" for="email">{label}</label>
    <div class="flex flex-row items-center ${name}-container hidden"> <!--hidden-->
        <span class="text-mono inline-block w-10 h-10 flex items-center justify-center caret caret--${name}">></span>
        <svg class="checkmark flex items-center justify-center icon-success icon-success--${name} hidden" width="40" height="40" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96">
            <path class="text-neon-green checkmark__check" d="M33.74 47.584l9.374 9.373L63.032 37.04" fill="none" stroke-linecap="square" />
        </svg>
        <div class="w-10 h-10 flex items-center justify-center icon-error icon-error--${name} hidden">
            <svg class="text-red-500 flex items-center justify-center w-5 h-5" width="40" height="40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 7a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM10 9.75a.75.75 0 0 1 .75.75v5a.75.75 0 1 1-1.5 0v-5a.75.75 0 0 1 .75-.75Z" fill="currentColor"/><path fill-rule="evenodd" clip-rule="evenodd" d="M12.27 1.993c-1.092-1.598-3.448-1.598-4.54 0l-.432.632A75.95 75.95 0 0 0 .354 15.188l-.09.208a2.511 2.511 0 0 0 2.024 3.497c5.125.573 10.299.573 15.424 0a2.511 2.511 0 0 0 2.024-3.497l-.09-.208a75.95 75.95 0 0 0-6.944-12.563l-.432-.632Zm-3.302.846a1.25 1.25 0 0 1 2.064 0l.432.632a74.451 74.451 0 0 1 6.806 12.315l.09.208a1.011 1.011 0 0 1-.814 1.408c-5.015.56-10.077.56-15.092 0a1.011 1.011 0 0 1-.815-1.408l.09-.208A74.448 74.448 0 0 1 8.536 3.471l.432-.632Z" fill="currentColor"/></svg>
        </div>
        <input id="${name}" type="${type}" class="px-2 mr-2 rounded-lg input w-96 text-mono text-white relative inline bg-transparent h-10 focus:outline-none transition duration-200 ease text-sm md:text-base" name="${name}">
        <button id="action-${name}" disabled type="button" class="disabled:border-gray-400 disabled:cursor-not-allowed disabled:hover:bg-opacity-0 disabled:text-gray-400 bg-neon-green transition duration-200 active:bg-opacity-100 active:text-black bg-opacity-0 hover:bg-opacity-25 active:text-black font-mono text-sm flex items-center justify-center border border-neon-green text-neon-green py-1 px-2 ring-0 rounded focus:outline-none focus:ring-4 focus:ring-neon-green focus:ring-opacity-50 active:ring-0">Next</button>
    </div>
    <span class="error-message error-message--${name} text-red-500 text-xs hidden">{error}</span>
</div>